<style>

  
  .footer {
      margin-top: 50px; /* Đặt margin trên cho footer */
  }
</style>

<footer class="footer bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h5>Thông tin</h5>
        <p>Cửa hàng thời trang uy tín nhất Đà Nảng.</p>
      </div>
      <div class="col-lg-4">
        <h5>Liên hệ</h5>
        <p>Email: chinhhieu@example.com</p>
        <p>Số điện thoại: 123-456-7890</p>
      </div>
      <div class="col-lg-4">
        <h5>Liên kết</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home'%}">Trang chủ</a></li>
          <li><a href="{% url 'product_home'%}">Sản phẩm</a></li>
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2023 . Bảo lưu mọi quyền.</p>
    </div>
  </div>
</footer>
