<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}">CART</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'homepage' %}">
              <i class="fa-sharp fa-solid fa-house"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product_home' %}">
              <i class="fa-solid fa-book"></i>
              Product
            </a>
          </li>
          <li class="nav-item position-relative">
            <a class="nav-link" href="{% url 'cart_home' %}" id="cart_count" cart-count="{{request.session.product_cart_count}}">
              <i class="fa-solid fa-cart-shopping"></i>
              Cart
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'history_home' %}">
              <i class="fa-solid fa-clock-rotate-left"></i>
              History
            </a>
          </li>
          {% if request.user.position == 'seller' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="fa-solid fa-user-tie"></i>
              Seller
            </a>
          </li>
          {% endif %}
        </ul>
        {% comment %} <form class="d-flex mx-3">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
        {% comment %} <p>{{ request.user }}</p> {% endcomment %}
        {% comment %} {% if user.is_autheticated %} {% endcomment %}
        {% if request.user.is_authenticated %}
        {% comment %} <p>{% request.session.get('user') %}</p> {% endcomment %}
        <div class="d-flex ">
          <span class="text-light">
            Welcome:          
          </span>
          <span class="text-success mx-1">
            {{ request.user }}
          </span>
        </div>
        <a href="{% url 'logoutPage' %}">
          <button type="button" class="btn btn-primary ms-2">Log out</button>
        </a>
        {% else %}
        <a href="{% url 'loginPage' %}">
          <button type="button" class="btn btn-primary ms-2">Log in</button>
        </a>
        <a href="{% url 'registerPage' %}">
          <button type="button" class="btn btn-primary ms-2">Register</button>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>