{% extends 'main.html' %}
{% block content %}
{% load static %}
{% comment %} <div class='bg-image' style="background-image : url('{% static 'image/aq1.jpg' %}'); height: 100vh; object-fit: cover;">
    <div class="container vh-100 d-flex align-items-center justify-content-center">
        <h1>  FUCK</h1>
    </div>
</div> {% endcomment %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src= "static/image/img-1.jpg" class="d-block w-100" alt="a1">
      </div>
      <div class="carousel-item">
        <img src="static/image/img-2.jpg" class="d-block w-100" alt="a2">
      </div>
      <div class="carousel-item">
        <img src="static/image/img-3.jpg" class="d-block w-100" alt="a3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% comment %} <div class="container py-3">
    <h4>Detail of company</h4>
    <p>aaaaaaa aaaaa aaaaaa aaaa</p>
</div> {% endcomment %}
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}